<div class="row mx-0">
    <div class="container ">
        <div class="row mx-0 bg-light border rounded ">
            <div class="col-12 mt-3">
               <h2> <b>What's happening</b></h2>
            </div>
            <div class="col-12 mt-1">
                <img class="img-fluid" src="../../../assets/images/right1.PNG   " alt="">
            </div>
        </div>
        <div class="row mx-0 mt-4 border rounded">
            <div class="col-12 mt-2">
                <h2><b>Who to follow</b></h2>
            </div>
            <div class="col-12">
                <img class="img-fluid" src="../../../assets/images/right2.PNG" alt="">
            </div>
        </div>
        <div class="row mx-0 mt-4 border rounded">
            <div class="col-12 mt-2 border-bottom">
                <h2><b> Topic to follow</b></h2>
            </div>
            <div class="col-12 d-flex justify-content-between mt-3 mb-2" *ngFor="let item of topicToFollow">
                <div >
                    <div class="font-weight-bold">{{item.name}}</div>
                    <div class="text-muted font-weight-light">{{item.dept}}</div>
                   
                </div>
                <div>
                    <button class="ttfbutton" > <b>Follow </b></button>
                </div>

            </div>
        </div>
    </div>
</div>  