<div class="row mx-0 ">
    <div class="d-flex p-3 ">
        <div class="">
            <img  class="rounded-circle" width="50" height="50" src="../../assets/images/manimage.jpg" alt="">
        </div>
        <div class="ml-3">
         <div class="row mx-0">
                <div class="col-12 text-primary clickable" (click)="goToProfile()">
                    <b>{{post.userName}}</b>
                </div>
             
                <div class="col-12 clickable py-3" routerLink = "/tweet/{{post.id}}">
                    <div class="col-12 px-0 pb-2">
                        <b>{{post.title}}</b>
                    </div>
                    <div *ngIf="hasPhoto">
                        <img class="img-fluid rounded" src="../../assets/images/manimage.jpg" alt="">
                    </div>
                    <div class="pt-2">
                        <p> {{post.body}}</p>
                    </div>
                </div>
                <div class="col-3 pt-2" *ngFor="let res of resButton"  >
                    <button type="button" class="tweetitem" (click)="goToComment(res)" ><i class="fa fa-{{res}}"></i></button>
                </div>
         </div>
        </div>
    </div>
</div>      