<div class="row mx-0">
    <div class="d-flex p-3">
        <div class="">
            <img  class="rounded-circle" width="50" height="50" src="../../assets/images/manimage.jpg" alt="">
        </div>
        <div class="ml-3">
         <div class="row mx-0">
             <div class="col-12 text-primary">
               <b>User-{{post.id}} </b>
            </div>
             <div class="col-12 my-2">
               <b>{{post.title}}</b>
            </div>
            <div class="col-12">
                <div *ngIf="hasPhoto">
                    <img class="img-fluid rounded" src="../../assets/images/manimage.jpg" alt="">
                </div>
                <div>
                    <h3>{{post.title}}</h3>
                    <p> {{post.body}}</p>
                </div>
            </div>
            <div class="col-3 pt-2" *ngFor="let res of resButton" >
                <button type="button" class="tweetitem"><i class="fa fa-{{res}}"></i></button>
            </div>
          
         </div>
        </div>
    </div>
</div>