.signupbox{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
 }
 .tsignup{
     color: white;
     background-color:#1DA1F2 ;
     margin-top: 0px;
 }

    

/* .signupbox1{
    background-color: white;
   
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}
.signupbox2{
    background-color: white;
    
    
    padding: 20px;
    padding-top: 40px;
    text-align: center;
} */
.signupButton{
    background-color: #1DA1F2;
    border-radius: 30px;
    color: white;
    width: 100%;
    
   
}