/* You can add global styles to this file, and also import other style files */

:root{
    --brandBlueColor: #1DA1F2
}

.brand-text {
    color: var(--brandBlueColor)
}
.brand-bg{
    background-color: var(--brandBlueColor);
    
}
.brand-border{
    border: 1px solid var(--brandBlueColor);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
